<nav class="navbar navbar-expand-lg navbar-dark mb-3 p-4 sticky-top" th:fragment="navbar">
    <span class="navbar-brand">Wild Circus</span>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shows">Shows</a>
            </li>
            <li class="nav-item" sec:authorize="!isAnonymous()">
                <a class="nav-link" href="/tickets">Order</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/login">Sign in / Login</a>
            </li>
            <li class="nav-item" sec:authorize="!isAnonymous()">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item" sec:authorize="!isAnonymous()">
                <a class="nav-link" href="/admin/shows">Administration</a>
            </li>
        </ul>
    </div>
</nav>
