body {
    background-image: linear-gradient(to bottom right, #681e75, #3b009b);
    display: flex;
    min-height: 100vh;
    text-align: center;
    color: white;
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    border-top: 10px dotted #ffd000;
    width: 100%;
}

a {
    color: #ffd000;
}

a:hover {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.input-group-text {
    background-color: transparent;
    color: white;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control, .custom-file-input {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.btn-success {
    background-color: #ffd000;
    border: none;
    width: 50%;
    text-transform: uppercase;
    color: #3b009b;
    font-weight: bold;
}

.btn-success:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-toggler {
    border: none;
    font-size: 2rem;
}
