body {
    background-image: linear-gradient(to bottom right, #681e75, #3b009b);
    min-height: 100vh;
    text-align: center;
    color: white;
    position: relative;
}

.banner {
    height: 400px;
    width: 60%;
    background-size: cover;
    background-position: center;
    background-image: url(https://cdn.pixabay.com/photo/2015/07/02/10/16/circus-828680_1280.jpg);
    box-shadow: 10px 10px white;
    border-bottom-left-radius: 0.25rem;
}

.presentation {
    width: 35%;
}

.home {
    width: 100%;
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

hr {
    border-top: 10px dotted #ffd000;
    width: 100%;
}

a {
    color: #ffd000;
}

a:hover {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.input-group-text {
    background-color: transparent;
    color: white;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control,
.custom-file-input,
.list-group-item {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.btn-success {
    background-color: #ffd000;
    border: none;
    width: 50%;
    text-transform: uppercase;
    color: #3b009b;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #3b009b;
    font-weight: bold;
    background-color: #ffd000;
    margin: 0 3vh;
    box-shadow: 10px 10px white;
    border-bottom-left-radius: 0.25rem;
}

.btn-success:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-toggler {
    border: none;
    font-size: 2rem;
}

.show {
    width: 100%;
    height: 480px;
}

.show-spectacle {
    height: 100%;
    overflow: auto;
    width: 50%;
}

.rounded {
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
}

.list-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.list-group-item {
    width: 100%;
    margin: auto;
}

.delete {
    height: 50px;
    width: 50px;
    display: flex;
}

.add {
    height: 50px;
    width: 100%;
}

.add ion-icon {
    height: 100%;
    width: 100%;
}

.delete ion-icon {
    width: 100%;
    height: 100%;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border: #ffd000;
}

.card {
    width: calc(90% / 3);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
}

.date-show {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1000;
    background-color: #ffd000;
    color: #3b009b;
    font-weight: bold;
    padding: 1vh 2vh;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 10px 10px white;
}

.grayscale {
    filter: grayscale(100%);
}

.card-img-top {
    position: relative;
}

.show-details .img-thumbnail {
    width: 40%;
}

.show-details .informations {
    width: 55%;
}

.img-thumbnail {
    padding: 0;
    border: none;
    box-shadow: 10px 10px white;
}

.list-group-horizontal .list-group-item {
    width: calc(90% / 3);
    border-radius: 0.25rem;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1200px) {
    .show {
        flex-direction: column;
        height: auto;
    }

    .show form {
        margin-bottom: 3vh;
        height: auto;
    }

    .list-group form {
        margin: 0;
    }

    .show-spectacle {
        height: 400px;
    }

    .show .create-show,
    .show-spectacle {
        width: 100%;
        margin: 0;
    }

    .card {
        width: 300px;
    }

    .home {
        flex-direction: column;
    }

    .home .presentation,
    .banner {
        width: 100%;
    }

    .banner {
        height: 200px;
    }

    .show-details {
        flex-direction: column-reverse;
        width: 100%;
    }

    .show-details .img-thumbnail {
        width: 100%;
    }

    .show-details .informations {
        width: 100%;
        margin-bottom: 3vh;
    }

    .list-group-horizontal {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .list-group-horizontal .list-group-item {
        width: 100%;
        margin-bottom: 3vh;
    }
}

@media screen and (max-width: 490px) {
    .input-group {
        display: flex;
        flex-direction: column;
    }

    .input-group .input-group-text,
    .input-group .form-control {
        width: 100%;
    }

    .input-group .input-group-text {
        border-top-right-radius: 0.25rem !important;
        border-bottom-left-radius: 0 !important;
        border-bottom: none !important;
    }

    .input-group .form-control {
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 0.25rem !important;
    }
}
