<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="container">
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <main>
            <h1>Welcome</h1>
            <p class="presentation text-justify p-3">
                Welcome to the circus de la wild website. You can check our
                shows and register to reserve your seats.
            </p>
        </main>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
