<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="container">
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <main>
            <h1>Welcome</h1>
            <p class="presentation text-justify p-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
                soluta magni, rem blanditiis corrupti similique laboriosam,
                quaerat eligendi reprehenderit nam velit minus dolor beatae?
                Ipsum commodi quo tenetur, quas dolores repellat, quos
                repudiandae nobis iste deleniti rem sint eveniet nihil odit.
                Beatae assumenda corrupti iste ullam libero! Eveniet id rem
                voluptate natus quasi laboriosam? Natus voluptatibus maxime
                impedit perferendis molestias debitis eaque, autem placeat at
                vel repudiandae obcaecati, quaerat culpa quia labore consectetur
                reiciendis quam iste. Expedita, iure.
            </p>
        </main>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
