<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="container d-flex flex-column justify-content-center">
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <main>
            <h1>Ordering</h1>
            <hr />
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${tickets}">
                            <td th:text="${ticket.spectacle.name}" colspan="1">
                                Name
                            </td>
                            <td th:text="${ticket.spectacle.date}" colspan="1">
                                Date
                            </td>
                            <td
                                th:text="${ticket.spectacle.duration  + ' min'}"
                                colspan="1"
                            >
                                Duration
                            </td>
                            <td th:text="${ticket.price}" colspan="1">Price</td>
                            <td th:text="${ticket.quantity}" colspan="1">
                                Quantité
                            </td>
                            <td>
                                <form
                                    th:action="@{/tickets/} + ${ticket.id}"
                                    th:method="DELETE"
                                    class="mr-3"
                                >
                                    <input
                                        type="hidden"
                                        th:value="${ticket.id}"
                                        th:name="id"
                                    />

                                    <button
                                        type="submit"
                                        class="btn btn-success delete"
                                    >
                                        <ion-icon name="trash"></ion-icon>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form
                                    th:action="@{/tickets/} + ${ticket.id}"
                                    th:method="PUT"
                                    class="mr-3"
                                >
                                    <input
                                        type="hidden"
                                        th:value="${ticket.id}"
                                        th:name="id"
                                    />

                                    <button
                                        type="submit"
                                        class="btn btn-success delete"
                                    >
                                        <ion-icon
                                            name="add-circle-outline"
                                        ></ion-icon>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
