<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="container d-flex flex-column justify-content-center">
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <main>
            <h1>Ordering</h1>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Show</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td></td>
                        <td th:text="${ticket.price}">Price</td>
                        <td th:text="${ticket.quantity}">Quantité</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
