<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="container d-flex flex-column justify-content-center">
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <main>
            <h1>Registration</h1>
            <hr />
            <section class="registration-user p-4">
                <form th:action="@{/users}" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email">
                                Email
                            </span>
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            name="email"
                            required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password">
                                Password
                            </span>
                        </div>
                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="firstname">
                                Firstname
                            </span>
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            name="firstname"
                            required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Lastname">
                                Lastname
                            </span>
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            name="lastname"
                            required
                        />
                    </div>
                    <button type="submit" class="btn btn-success">
                        Register
                    </button>
                </form>
            </section>
        </main>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
