<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="container">
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <main>
            <h1 th:text="${show.name}">Show name</h1>
            <hr />
            <p th:text="${show.description}">
                Welcome to the circus de la wild website. You can check our
                shows and register to reserve your seats.
            </p>
        </main>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
